<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
    <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Fondamento:ital@0;1&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="dist/app.css">
    <title>proj-html-vuejs</title>
</head>
<body>
    
    <!-- VUE -->
    <div id="app">

        <!-- HEADER -->
        <header>
            <div class="left-header">
                <img src="img/logo-sidearea-1.png" alt="logo">
            </div>

            <div class="right-header">
                <ul v-for="(el) in navBar">
                    <li>{{el.home}}</li>
                    <li>{{el.pages}}</li>
                    <li>{{el.portfolio}}</li>
                    <li>{{el.blog}}</li>
                    <li>{{el.shop}}</li>
                    <li>{{el.elements}}</li>
                    <li><img :src="el.hamburger" alt="hamburger-menu"></li>
                </ul>
            </div>
        </header>
        <!-- /HEADER -->

        <!-- MAIN -->
        <main>
            <!-- SLIDER -->
            <div class="slider">

                <div class="slides">
                    <transition-group name="slide" mode="out-in" enter-class="slide-in" leave-class="slide-out" enter-active-class="animated slide-in-active" leave-active-class="animated slide-out-active">
                        <div v-for="index in slides" v-if="index == active" :key="index">
                            <div class="first-background">

                                <div class="first-content">
                                    <h1>{{slider[index].title}} <span>{{slider[index].specialFont}}</span></h1>
                                    <p>{{slider[index].paragraph}}</p>
                                    <button>{{slider[index].button}}</button>
                                </div>
                                
                                <div class="big-img">
                                    <div class="people">
                                        <img :src="slider[index].firstPerson">
                                        <img :src="slider[index].secondPerson">
                                    </div>
                                    <span>
                                        <img :src="slider[index].firstLeaf" alt="red leaf left" id="first-leaf">
                                        <img :src="slider[index].secondLeaf" alt="red leaf right" id="second-leaf">
                                        <img :src="slider[index].thirdLeaf" alt="purple leaf" id="third-leaf">
                                        <img :src="slider[index].fourthLeaf" alt="brown leaf" id="fourth-leaf">
                                        <img :src="slider[index].fifthLeaf" alt="green leaf" id="fifth-leaf">
                                        <img :src="slider[index].sixthLeaf" alt="multiple leaf" id="sixth-leaf">
                                    </span>
                                </div>
                                
                            </div>
                        </div>
                    </transition-group>
                </div>

                <span class="prev" click="move(-1)">
                    <i class="fa fa-chevron-left" aria-hidden="true"></i>
                </span>

                <span class="next" @click="move(1)">
                    <i class="fa fa-chevron-right" aria-hidden="true"></i>
                </span>

                <ul class="dots">
                    <li  v-for="(dot, index) in slides" :class="{ active: ++index === active }" @click="jump(index)"></li>
                </ul>

            </div>    
            <!-- /SLIDER -->
            
            <!-- MAIN SECTION -->
            <div class="main-section">

                <div class="first-row">
                    <div><img src="img/h-2-port-img-1.jpg" alt="FE" class="first-row-img"></div>
                    <div><img src="img/h-2-port-img-2.jpg" alt="Bike" class="first-row-img"></div>
                    <div>
                        <img src="img/h-2-port-img-3.jpg" alt="Book" class="first-row-img">
                        <!-- <div class="floating-img">
                            <img src="img/svg-6.svg" alt="cart">
                            <img src="img/svg-7.svg" alt="circle">
                        </div> -->
                    </div>
                </div>

                <div class="second-row">

                    <div class="special-hover" @mouseover="fadeIn" @mouseleave="fadeOut">

                        <img src="img/h-2-port-img-4.jpg" alt="2nd-book">

                        <div class="placeholder invisible">
                            <h4>Illustrations of novels</h4>
                            <p>Illustration</p>
                        </div>

                    </div>

                    <div>
                        <img src="img/h-2-port-img-5.jpg" alt="phone">
                    </div>

                    <div class="second-row-last-box">

                        <img src="img/h-2-port-img-6.jpg" alt="girl">

                        <div class="scroll-up" @click="scrollTop">
                            <i class="fas fa-long-arrow-alt-up"></i>
                        </div>

                    </div>

                </div>

            </div>
            <!-- /MAIN SECTION -->

            <!-- SECOND SECTION -->
            <div class="second-section">

                <h2>Working <span>process</span></h2>
                <div class="second-section-paragraph">

                    <div class="second-section-paragraph-1" v-for="(el) in ideasDrawings">
                        <div>
                            <span v-html="el.icon">
                        </div>
                        <h3>{{el.title}}</h3>
                        <p>{{el.paragraph}}</p>
                    </div>
                    
                </div>

                <div class="scroll-up" @click="scrollTop">
                    <i class="fas fa-long-arrow-alt-up"></i>
                </div>
                
            </div>
            <!-- SECOND SECTION -->

            <!-- THIRD SECTION -->
            <div class="third-section">
                <div class="third-section-content">
                    <h2>Want to work with us? Send us <span>a message!</span></h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmond tempor incididunt ut labore et dolore. Ut enim ad minim veniam, quis nostrud excercitation ullamco laboris nisi ut aliquip ex ea commo.</p>
                    <button>CONTACT</button>
                </div>
            </div>
            <!-- /THIRD SECTION -->

            <!-- FOURTH SECTION -->
            <div class="fourth-section">

                <div class="fourth-section-box" v-for="(el) in blogPosts">
                    <img :src="el.background">
                    <h3>{{el.title}}</h3>
                    <p>{{el.author}}</p>
                    <div class="tab">
                        <div class="tab-upper">
                            <span>{{el.day}}</span>
                        </div>
                        <div class="tab-lower">
                            <span>{{el.year}}</span>
                        </div>
                    </div>
                </div>

                <div class="scroll-up" @click="scrollTop">
                    <i class="fas fa-long-arrow-alt-up"></i>
                </div>

            </div>
            <!-- /FOURTH SECTION -->
        </main>
        <!-- /MAIN -->

        <!-- FOOTER -->
        <footer>
            <div class="footer-content">

                <div class="footer-box">
                    <img src="img/logo-sidearea-1.png" alt="footer-logo">
                    <p>Let's Get Creative</p>
                </div>

                <div class="footer-box">
                    <p>maree.qode@gmail.com</p>
                    <p>+44645 321 789</p>
                </div>

                <div class="footer-box">
                    <p>Avenue d'Auderghem 10</p>
                    <p>1040 Brussels, Belgium</p>
                </div>

                <div class="last-box">
                    <p>Stay in touch with us</p>
                    <div class="footer-icons">
                        <i class="fab fa-twitter"></i>
                        <i class="fab fa-pinterest-p"></i>
                        <i class="fab fa-facebook-f"></i>
                        <i class="fab fa-linkedin-in"></i>
                    </div>
                </div>

            </div>

            <div class="scroll-up" @click="scrollTop">
                <i class="fas fa-long-arrow-alt-up"></i>
            </div>

        </footer>
        <!-- /FOOTER -->
    </div>
    <!-- /VUE -->

    <script src="js/script.js"></script>
</body>
</html>