footer {
  @include flexCenter;
  height: 300px;
  background-color: #c0e1cf;
  position: relative;

  .footer-content {
    @include flexEvenly;
    width: 60%;
    margin: 0 auto;

    .footer-box {
      line-height: 40px;
    }

    .last-box {
      line-height: 70px;

      .footer-icons {
        display: flex;
        line-height: 20px;
        justify-content: space-between;
        padding-bottom: 25px;

        i {
          cursor: pointer;
          &:hover {
            color: #fff;
          }
        }
      }
    }
  }

  .scroll-up {
    @include flexCenter;
    position: absolute;
    bottom: 5%;
    right: 20px;
    width: 50px;
    height: 50px;
    background-color: #c0e1cf;
    cursor: pointer;

    i {
      color: #fff;
      font-size: 30px;
    }
  }
}
