/* MAIN SECTION */
.main-section {
  .first-row {
    display: flex;

    &-img {
      width: 100%;
      height: 100%;
    }

    // &-img-last {
    //   .floating-img {
    //     height: 100px;
    //     width: 100px;
    //     img {
    //       height: 50px;
    //     }
    //   }
    // }
  }

  .second-row {
    display: flex;

    img {
      width: 100%;
      height: 100%;
    }

    .special-hover {
      position: relative;

      &:hover {
        cursor: pointer;
        //border-left: 2px solid #000;
      }

      div {
        position: absolute;
        top: 50%;
        transform: translateY(-40%);
        line-height: 30px;
        background-color: #fff;
        padding: 20px;
        width: 50%;

        h4 {
          font-size: 23px;
        }

        p {
          font-size: 22px;
          font-family: "Fondamento", cursive;
          font-style: italic;
        }
      }
    }

    &-last-box {
      position: relative;

      .scroll-up {
        @include flexCenter;
        position: absolute;
        top: 0;
        right: 20px;
        width: 50px;
        height: 50px;
        background-color: #c0e1cf;
        cursor: pointer;

        i {
          color: #fff;
          font-size: 30px;
        }
      }
    }
  }
}
/* MAIN SECTION */

/* SECOND SECTION */
.second-section {
  background-image: url("../img/svg-3.svg");
  background-size: 75vw;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  height: 700px;

  h2 {
    font-size: 60px;
    text-align: center;
    margin-top: 100px;
    span {
      @include differentFont;
    }
  }

  &-paragraph {
    @include flexEvenly;
    height: 300px;
    margin-top: 150px;

    &-1 {
      text-align: center;
      width: 15%;

      div {
        position: relative;
        width: 200px;
        height: 200px;
        background-color: #faf7f1;
        border-radius: 50%;
        margin: 0 auto;

        i {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          color: #badac9;
          font-size: 50px;
        }
      }

      h3 {
        margin: 10px 0;
        font-size: 23px;
      }

      p {
        line-height: 20px;
        color: #a6a6a6;
      }
    }

    &-2 {
      text-align: center;
      width: 15%;

      div {
        position: relative;
        width: 200px;
        height: 200px;
        background-color: #faf7f1;
        border-radius: 50%;
        margin: 0 auto;

        i {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          color: #f8d12d;
          font-size: 55px;
        }
      }

      h3 {
        margin: 10px 0;
        font-size: 23px;
      }

      p {
        line-height: 20px;
        color: #a6a6a6;
      }
    }

    &-3 {
      text-align: center;
      width: 15%;

      div {
        position: relative;
        width: 200px;
        height: 200px;
        background-color: #faf7f1;
        border-radius: 50%;
        margin: 0 auto;

        i {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          color: #80465f;
          font-size: 50px;
        }
      }

      h3 {
        margin: 10px 0;
        font-size: 23px;
      }

      p {
        line-height: 20px;
        color: #a6a6a6;
      }
    }

    &-4 {
      text-align: center;
      width: 15%;

      div {
        position: relative;
        width: 200px;
        height: 200px;
        background-color: #faf7f1;
        border-radius: 50%;
        margin: 0 auto;

        i {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          color: #eb6950;
          font-size: 50px;
        }
      }

      h3 {
        margin: 10px 0;
        font-size: 23px;
      }

      p {
        line-height: 20px;
        color: #a6a6a6;
      }
    }
  }

  .scroll-up {
    @include flexCenter;
    position: absolute;
    bottom: 5%;
    right: 20px;
    width: 50px;
    height: 50px;
    background-color: #c0e1cf;
    cursor: pointer;

    i {
      color: #fff;
      font-size: 30px;
    }
  }
}
/* SECOND SECTION */

/* THIRD SECTION */
.third-section {
  @include flexCenter;
  height: 500px;
  background-color: #faf7f1;

  &-content {
    text-align: center;
    width: 80%;
    margin: 0 auto;

    h2 {
      font-size: 60px;
      span {
        @include differentFont;
      }
    }

    p {
      font-size: 18px;
      line-height: 20px;
      color: #878787;
      margin-top: 20px;
    }

    button {
      margin-top: 40px;
      width: 200px;
      outline: none;
      border: none;
      background-color: #c0e1cf;
      font-weight: bold;
      padding: 20px;
      cursor: pointer;
      letter-spacing: 5px;

      &:hover {
        color: #fff;
        background-color: #e1c0b0;
        transition: 0.3s ease-out;
      }
    }
  }
}
/* THIRD SECTION */

/* FOURTH SECTION */
.fourth-section {
  height: 700px;
  @include flexCenter;
  position: relative;

  &-box-1 {
    position: relative;
    height: 55%;
    width: 25vw;
    margin-right: 50px;

    img {
      height: 75%;
    }

    h3 {
      font-size: 25px;
      margin-top: 10px;
    }

    p {
      font-style: italic;
      font-weight: bold;
      margin-top: 10px;
    }

    .tab {
      position: absolute;
      top: -10%;
      left: 5%;
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
      width: 20%;

      &-upper {
        @include flexCenter;
        background-color: #c0e1cf;
        height: 50px;
        // width: 100px;

        span {
          font-family: "Fondamento", cursive;
          font-size: 35px;
        }
      }

      &-lower {
        @include flexCenter;
        background-color: #f3d0c7;
        height: 45px;
        // border-left: 50px solid transparent;
        // border-right: 50px solid transparent;
        // border-bottom: 25px solid rgba(0, 0, 0, 0.1);

        span {
          font-weight: bold;
          letter-spacing: 2px;
        }
      }
    }
  }

  &-box-2 {
    position: relative;
    height: 55%;
    width: 25vw;
    margin-right: 50px;

    img {
      height: 75%;
    }

    h3 {
      font-size: 25px;
      margin-top: 10px;
    }

    p {
      font-style: italic;
      font-weight: bold;
      margin-top: 10px;
    }

    .tab-2 {
      position: absolute;
      top: -10%;
      left: 5%;
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
      width: 20%;

      &-upper {
        @include flexCenter;
        background-color: #c0e1cf;
        height: 50px;
        // width: 100px;

        span {
          font-family: "Fondamento", cursive;
          font-size: 35px;
        }
      }

      &-lower {
        @include flexCenter;
        background-color: #f3d0c7;
        height: 45px;
        // border-left: 50px solid transparent;
        // border-right: 50px solid transparent;
        // border-bottom: 25px solid rgba(0, 0, 0, 0.1);

        span {
          font-weight: bold;
          letter-spacing: 2px;
        }
      }
    }
  }

  &-box-3 {
    position: relative;
    height: 55%;
    width: 25vw;

    img {
      height: 75%;
    }

    h3 {
      font-size: 25px;
      margin-top: 10px;
    }

    p {
      font-style: italic;
      font-weight: bold;
      margin-top: 10px;
    }

    .tab-3 {
      position: absolute;
      top: -10%;
      left: 5%;
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
      width: 20%;

      &-upper {
        @include flexCenter;
        background-color: #c0e1cf;
        height: 50px;
        // width: 100px;

        span {
          font-family: "Fondamento", cursive;
          font-size: 35px;
        }
      }

      &-lower {
        @include flexCenter;
        background-color: #f3d0c7;
        height: 45px;
        // border-left: 50px solid transparent;
        // border-right: 50px solid transparent;
        // border-bottom: 25px solid rgba(0, 0, 0, 0.1);

        span {
          font-weight: bold;
          letter-spacing: 2px;
        }
      }
    }
  }

  .scroll-up {
    @include flexCenter;
    position: absolute;
    top: 5%;
    right: 20px;
    width: 50px;
    height: 50px;
    background-color: #c0e1cf;
    cursor: pointer;

    i {
      color: #fff;
      font-size: 30px;
    }
  }
}
/* /FOURTH SECTION */
