header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  width: 100%;

  .left-header {
    padding-left: 2%;
  }

  .right-header {
    width: 40vw;
    ul {
      display: flex;
      justify-content: space-evenly;
      li {
        cursor: pointer;
        list-style-type: none;
      }
    }
  }
}
