@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flexBetween {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@mixin flexEvenly {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

@mixin differentFont {
  font-family: "Fondamento", cursive;
  font-size: 65px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

.invisible {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s linear;
}

.visible {
  visibility: visible;
  opacity: 1;
}
